/* Leaflet scale options are limited so applied some tricks */

#plotarea{
    position: relative;
    height: 100vh;
}

#map {
    height: 20em;
    width: 30em;
}

#mapbox{
    position: absolute;
    right: 0%;
    top: 0%;
}

.leaflet-container {
    background-color:rgba(0,0,0,0.0);
}
