text {
	font-family: sans-serif;
	fill: rgb(200, 200, 200);
	text-anchor: start;
}

circle {
	stroke: #777;
	stroke-width: 1;
	fill: none;
}

text {
	fill: rgb(200, 200, 200);
	font-size: 4px;
	text-anchor: start;
}

.link {
	fill: none;
	stroke-width: 0.07;
}

.person {
	fill: grey;
}

.source {
	stroke: none;
	fill: grey;
}
