/* Leaflet scale options are limited so applied some tricks */

#plotarea {
	position: relative;
	height: 100vh;
}

#map {
	height: 30em;
    width: 45em;
}

#mapbox {
	position: absolute;
	left: 0%;
	top: 0%;
}

.leaflet-container {
	background-color: rgba(0, 0, 0, 0);
}
