html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Roboto", sans-serif;
	color: #ccc;
	font-size: 1.2em;
	background-color: #111;
}

#container {
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

main {
	flex: 1;
	display: flex;
	flex-direction: row;
}

#bar-chart {
	flex: 3;
	background-color: #1e1722;
	height: 100%;
}

#persons-ranking {
	flex: 1;
	background-color: #17341c;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #222;
	padding: 1em;
}

nav div {
	margin-right: 3em;
}

#time-chooser label,
#time-chooser input {
	display: inline-block;
	vertical-align: middle;
}

#time-chooser input[type="range"] {
	width: 10em;
}
