html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Roboto", sans-serif;
	color: #ccc;
	font-size: 1.2em;
	background-color: #111;
}

#container {
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

main {
	flex: 1;
	display: flex;
	flex-direction: row;
}

#bar-chart {
	flex: 3;
	background-color: #1e1722;
	height: 100%;
}

#persons-ranking {
	flex: 1;
	background-color: #17341c;
}

#controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #222;
	padding: 1em;
}

#controls div {
	margin-right: 3em;
}

.select-wrapper input.select-dropdown {
	color: inherit;
}

.select-wrapper input.select-dropdown:focus {
	border-color: #fff;
}

.caret path:first-child {
	fill: #ccc;
}

a,
.dropdown-content li > span {
	color: #333;
}

input[type="range"] {
	width: 100%;
}

/* Duplication needed here because of browser-specific pseud-elements */
input[type="range"]::-moz-range-thumb {
	background-color: #ccc;
}

input[type="range"]::-webkit-slider-thumb {
	background-color: #ccc;
	margin: -6px 0 0 0;
}

input[type="range"]::-ms-thumb {
	background-color: #ccc;
}

input[type="range"]::-moz-range-track {
	height: 1px;
	width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
	height: 1px;
	width: 100%;
}

input[type="range"]::-ms-track {
	height: 1px;
	color: transparent;
	width: 100%;
}

.range-field {
	width: 30em;
}

input[type="range"] {
	border: none;
}

input:focus {
	outline: none;
}

input[type="range"]:-moz-focusring {
	outline: none;
}

input[type="range"] {
	margin: 1.5em 0;
}
